name = "mdm-docs-superinfo"
compatibility_date = "2026-01-20"

# 必須包含 nodejs_compat
compatibility_flags = ["nodejs_compat"]

# 指向輸出目錄
pages_build_output_dir = ".open-next"

[observability]
enabled = true

[build]
# 強制 esbuild 在最後打包階段忽略 jose
extra_external = ["jose"]